@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

html,
body {
  overflow-x: hidden;
  font-family: "Poppins";
}

body {
  font-family: "Poppins";
}

a {
  color: inherit;
  text-decoration: none;
}
.slugyImage {
  width: 450px;
}
.priceCard {
  background-color: #f9fafc;
}
